section.talkListContainer
  .talkList
    ol.talkList__list.js-talkList
      li.talkList__listItem
        .talkList__listItemContents
          p.talkList__text 旅行行くならどこ行きたい？
          button.talkList__button.js-removeButton(type=button) 削除
      li.talkList__listItem
        .talkList__listItemContents
          p.talkList__text イチオシの映画・アニメ（他動画ならなんでも）
          button.talkList__button.js-removeButton(type=button) 削除
      li.talkList__listItem
        .talkList__listItemContents
          p.talkList__text 生まれ変わったらなんになりたい？
          button.talkList__button.js-removeButton(type=button) 削除
      li.talkList__listItem
        .talkList__listItemContents
          p.talkList__text リスペクトしている人
          button.talkList__button.js-removeButton(type=button) 削除
      li.talkList__listItem
        .talkList__listItemContents
          p.talkList__text みんなに教えてもらいたいこと
          button.talkList__button.js-removeButton(type=button) 削除
    .talkList__inputArea
      input.talkList__textInput.js-themeInputBox(type=text)
      button.talkList__button.talkList__button--add.js-addButton(type=button) 追加
